Formulario 1
<form id="blog-form" onsubmit="return submitBlog(event);">
    <div>
        <label for="title">Titulo: </label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="num">Número: </label>
        <input type="text" id="num" name="num">
    </div>
    <div>
        <label for="text">Texto: </label>
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
    </div>
    <button type="submit">Agregar</button>
</form>
<script src="/js/submit-blog.js"></script>